.newgame{
    position: absolute;
    background: #fff;
    top: 50%;
    z-index: 1000;
    width: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
         -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.title-box{
  margin-bottom: 30px;
}

.description-box{
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .newgame{
    width: 90%;
  }
}