.sebm-google-map-container {
     height: 100vh;
   }

.no-padding{
     padding: 0px;
  }

  .window-height{
    height: 100vh;
    overflow-y:auto;
  }

  .sidebar{
      -webkit-box-shadow: inset -8px 0 5px -5px rgba(119, 119, 119, 0.57);
      -moz-box-shadow: inset -8px 0 5px -5px rgba(119, 119, 119, 0.57);
       box-shadow: inset -8px 0 5px -5px rgba(119, 119, 119, 0.57);
}

@media only screen and (max-width: 768px) {
 .window-height{
   height: auto;
 }
}