.sebm-google-map-container {
     height: 100vh;
   }

.no-padding{
     padding: 0;
  }

  .window-height{
    height: 100vh;
    overflow-y:auto;
  }

  .sidebar{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    animation: animateleft 0.4s;
}